.balo {
  color: #888;
  display: flex;
}
.circle {
  background: #eee;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 11px;
  position: relative;
  left: 4px;
  top: 2px;
  padding-left: 5px;
  padding-top: 2px;
  font-weight: 700;
}

.balo:hover {
  color: black;
  display: flex;
  .circle {
    background-color: #ffe100;
  }
}

nav {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #e8e4e4;

  transition: top 1.5s;
}
.navbar-brand {
  margin-left: 30px;
  display: flex;
}
.nav-title-a {
  font-weight: 300;
}
.nav-title-b {
  font-weight: 500;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-left: 380px;
  margin-right: 400px;
}
.nav-item {
  font-size: 17px;
  font-weight: 700;
}
.nav-inje {
  margin-right: 30px;
}

.inje {
  color: #888;
  display: flex;
}
.inje:hover {
  color: black;
  display: flex;
  .circle {
    background-color: #ffe100;
  }
}

.img-modificaion {
  width: 930px;
  height: 280px;
  border-radius: 25px;
  position: relative;
}

.img-div-explain {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 3em;
  left: 3em;
}

.button-style {
  background-color: white;
  border: 1px solid white;
  color: #191919;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 30px;
  font-family: sans-serif;
  position: absolute;
  top: 8em;
  left: 60em;
}

.card-title {
  color: #ffb500;
  font-size: 15px;
  font-weight: bold;
}

.card-text {
  color: black;
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
}

.btn-primary {
  background-color: #888;
  border-radius: 50%;
  border: 1px solid #888;
  padding: -3px;
}


/*sangwoo */

.main-visual__title{
  font-size: 60rem;
  line-height: 1.26;
  font-weight: 600;
  color: #fff;
}
.carousel-caption {
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}
.carousel-caption .silverButton{
margin-top: 40px;
background-color: #5F5F5F; 
color: #fff;
width: 18%;
border-radius: 100px;
border: none;
font-weight: 600;
padding: 10px 20px;
} 
.carousel-caption .balckButton{
margin-top: 40px;
background-color: #191919;
border-bottom: #191919;
color: #fff;
width: 18%;
border-radius: 100px;
border: none;
font-weight: 600;
padding: 10px 20px;
} 
/*transparent*/
.carousel-caption .whiteButton{
margin-top: 40px;
background-color: #ffffff;
border-bottom: #ffffff;
color: #191919;
width: 18%;
border-radius: 100px;
border: none;
font-weight: 600;
padding: 10px 20px;
} 

.carousel-caption button:hover{
background-color: #FFE100;
border-bottom: #FFE100;
color: #191919;
}
/*sangwoo end*/